/*
 * Copyright 2015 Westfälische Hochschule
 *
 * This file is part of Poodle.
 *
 * Poodle is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Poodle is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with Poodle.  If not, see <http://www.gnu.org/licenses/>.
 */
ul.tags > li div.tagName {
	width: 200px;
	display: inline-block;
}

ul > li.alreadyExistingTag div.tagName {
	opacity: 0.5;
}

ul > li.alreadyExistingTag .addTagLink {
	display: none;
}

ul.tags > li:hover {
	background: orange;
}

/* "MC" Text in MC question search link */

.mcQuestionSearchLink {
	display: block;
	position: relative;
}

.mcQuestionSearchLink > .mcText {
	z-index: 100;
	position: absolute;
	color: green;
	font-size: 8px;
	font-weight: bold;
	left: 7px;
	bottom: 5px;
}