<!--/*
  Copyright 2015 Westfälische Hochschule

  This file is part of Poodle.

  Poodle is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  Poodle is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with Poodle.  If not, see <http://www.gnu.org/licenses/>.
*/-->
<!--/* allows searching for mc questions, similar to instructor/exerciseSearch.html */-->
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">

<head th:with="includeMathJax=true,includeDataTables=true">
	<title>[[#{title.mcQuestionSearch}]]</title>
	<link rel="stylesheet" th:href="@{/css/exerciseSearch.css}" />

	<script th:src="@{/js/tagFilter.js}"></script>
	<script th:src="@{/js/exerciseSearchCommon.js}"></script>
	<script th:src="@{/js/instructor/mcQuestionSearch.js}"></script>
</head>

<div layout:fragment="content">

	<th:block th:switch="${searchMode.toString()}">
		<!--/* we have been called via the "add to worksheet" link in the worksheet editor */-->
		<h2 th:case="ADD_TO_MC_WORKSHEET">
			<a th:href="@{/instructor/mcWorksheets/{id}/edit(id=${worksheet.id})}" th:title="#{backToTheWorksheet}">
				<span class="glyphicon glyphicon-chevron-left green"></span>
			</a>
			<span th:with="
				worksheetTitleEscaped=${#strings.escapeXml(worksheet.title)}"
				th:utext="#{title.addToMcWorksheet(${worksheetTitleEscaped})}">
			</span>
		</h2>

		<!-- normal search -->
		<h2 th:case="NORMAL">[[#{title.mcQuestionSearch}]]</h2>
	</th:block>

	<form th:object="${searchCriteria}" method="get" class="margin-bottom">
		<input type="hidden" name="search" value="1" />

		<div id="criteriaWrapper">
			<fieldset class="criterion">
				<legend>[[#{courses}]]</legend>
				<div th:each="course : ${courses}" class="checkbox">
					<input type="checkbox" th:field="*{courses}" th:value="${course.id}" />
					<label th:for="${#ids.prev('courses')}">[[${course.name}]]</label>
				</div>
			</fieldset>

			<fieldset th:unless="${#lists.isEmpty(instructors)}" class="criterion">
				<legend>[[#{instructors}]]</legend>
				<div th:each="instructor : ${instructors}" class="checkbox">
					<input type="checkbox" th:field="*{instructors}" th:value="${instructor.id}" />
					<label th:for="${#ids.prev('instructors')}">[[${instructor}]]</label>
				</div>
			</fieldset>

			<fieldset>
				<legend>[[#{tags}]]</legend>
				<label class="radio-inline">
					<input type="radio" th:field="*{tagsAnd}" th:value="true" /> [[#{mustContainAllTags}]]
				</label>
				<label class="radio-inline">
					<input type="radio" th:field="*{tagsAnd}" th:value="false" /> [[#{mustContainAnyTag}]]
				</label>

				<th:block th:include="fragments/tagFilter (tags=${distinctTags})" />
			</fieldset>

			<fieldset class="criterion">
				<legend>[[#{text}]]</legend>
				<input type="text" th:field="*{text}" class="form-control max-width-sm" />
			</fieldset>

			<fieldset>
				<legend>[[#{order}]]</legend>
				<select th:field="*{order}" class="form-control width-auto inline">
					<option value="TEXT">[[#{text}]]</option>
					<option value="DATE">[[#{date}]]</option>
				</select>
				<div id="orderAscendingWrapper" class="inline">
					<label class="radio-inline">
						<input type="radio" th:field="*{orderAscending}" value="true" /> [[#{order.ascending}]]
					</label>
					<label class="radio-inline">
						<input type="radio" th:field="*{orderAscending}" value="false" /> [[#{order.descending}]]
					</label>
				</div>
			</fieldset>
		</div>

		<!--/* make sure the parameter for ADD_TO_MC_WORKSHEET is passed if another search is done */-->
		<th:block th:if="${searchMode.toString() == 'ADD_TO_MC_WORKSHEET'}">
			<input type="hidden" name="instructorMcWorksheetId" th:value="${worksheet.id}" />
		</th:block>

		<button type="submit" class="btn btn-success">
			<span class="glyphicon glyphicon-search"></span> [[#{button.search}]]
		</button>
	</form>

	<!--/* results */-->

	<p th:if="${param.containsKey('search')} and ${#lists.isEmpty(questions)}">
		<strong>[[#{noQuestionsFound}]]</strong>
	</p>

	<div id="results"></div> <!--/* anchor to jump to results */-->

	<th:block th:unless="${#lists.isEmpty(questions)}">

		<table id="resultsTable" class="table table-hover table-striped">
			<thead>
				<tr>
					<th data-sortable="false">[[#{text}]]</th>
					<th data-sortable="false">[[#{tags}]]</th>
					<th data-sortable="false"></th> <!--/* options */-->
				</tr>
			</thead>

			<tbody>
				<tr th:each="question : ${questions}" th:attr="data-exercise-id=${question.id}">
					<td>
						<a th:href="@{/instructor/mcQuestions/{id}(id=${question.id})}" th:title="#{showQuestion}">
							[[${question.plainText}]]
						</a>
					</td>

					<!--/* tags */-->
					<td>
						<ul class="commaSeparatedList">
							<li th:each="tag : ${question.tags}">[[${tag.name}]]</li>
						</ul>
					</td>

					<!--/* options */-->
					<td class="text-right">
						<ul class="optionButtons">
							<!--/* edit */-->
							<li>
								<a class="btn-link" th:href="@{/instructor/mcQuestions/{id}/edit(id=${question.id})}" th:title="#{editQuestion}">
									<span class="glyphicon glyphicon-pencil green"></span>
								</a>
							</li>

							<!--/* delete */-->
							<li>
								<button type="button"
									class="deleteQuestionLink btn-link"
									th:title="#{deleteQuestion}"
									th:attr="
										data-question-id=${question.id},
										data-title=${question.plainText}">
									<span class="glyphicon glyphicon-remove red"></span>
								</button>
							</li>

							<!--/* "add to worksheet" button */-->
							<li th:if="${searchMode.toString() == 'ADD_TO_MC_WORKSHEET'}">
								<button
								   type="button"
								   class="addToMcWorksheetLink btn-link"
								   th:title="#{addToMcWorksheetButtonTitle}"
								   th:attr="
										data-mc-worksheet-id=${worksheet.mcWorksheetId},
										data-question-id=${question.id}">
									<span class="glyphicon glyphicon-plus green"></span>
								</button>
							</li>
						</ul>
					</td>
				</tr>
			</tbody>
		</table>
	</th:block>
</div>
</html>