<!--/*
  Copyright 2015 Westfälische Hochschule

  This file is part of Poodle.

  Poodle is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  Poodle is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with Poodle.  If not, see <http://www.gnu.org/licenses/>.
*/-->
<!--/* instructor start page, shows latest feedback and exercise changes (InstructorStartController) */-->
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout"
	th:with="includeCKEditor=true">

<head th:with="includeMathJax=true">
	<title>[[#{title.startPage}]]</title>
	<script th:src="@{/js/instructor/start.js}"></script>
	<script th:src="@{/js/instructor/statisticUtils.js}"></script>
	<script th:src="@{/js/instructor/feedbackTable.js}"></script>
</head>

<div layout:fragment="content">
	<!--/* latest feedback */-->
	<h2>[[#{latestFeedback}]]</h2>
	<div th:unless="${#lists.isEmpty(feedbackList)}">
		<!--/* use fragments/feedbackTable to display the table */-->
		<div th:replace="fragments/feedbackTable (feedbackList=${feedbackList})"></div>
		<a th:href="@{/instructor/feedback}">[[#{more}]]</a>
	</div>
	<p th:if="${#lists.isEmpty(feedbackList)}">[[#{noFeedback}]]</p>

	<!--/* latest changes to exercises / mc questions */-->
	<h2>[[#{latestChanges}]]</h2>
	<th:block
		th:with="exercisesEmpty=${#lists.isEmpty(exercises)}">

		<th:block th:unless="${exercisesEmpty}">

			<ul id="exercises" class="list-unstyled list-text">
				<!--/* we have to use different paths for "show" and "diff",
					depending on whether it is an exercise or mc question.
					We only show the first 10 entries by default (see hidden variable). */-->
				<li th:each="e,status : ${exercises}"
					th:with="
						isNew=${e.createdAt > session.lastLogin},
						hidden=${status.count > 10},
						isMc=${e.class.simpleName eq 'McQuestion'},
						showPath=${isMc ? 'mcQuestions' : 'exercises'},
						diffPath=${isMc ? 'mcQuestionDiff' : 'exerciseDiff'},
						titleEscaped=${#strings.escapeXml(e.title)},
						ownerEscaped=${#strings.escapeXml(e.owner)},
						changedByEscaped=${#strings.escapeXml(e.changedBy)},"
					th:class="(${isNew} ? 'new') + (${hidden} ? ' my-hidden')">

					<span th:if="${isNew}" class="new" th:title="#{newSinceLastLogin(${{session.lastLogin}})}">!</span>

					<!--/* new exercise: show "new exercise created by" text */-->
					<a th:if="${e.root}"
						th:href="@{|/instructor/${showPath}/${e.id}|}"
						th:utext="#{newExerciseCreated(${{e.createdAt}},${titleEscaped},${ownerEscaped})}"></a>

					<!--/* edited exercise: show ".. changed by" and diff link. */-->
					<th:block th:unless="${e.root}">
						<a th:href="@{|/instructor/${showPath}/${e.id}|}" th:title="#{showExercise}"
							th:utext="#{exerciseEdited(${{e.createdAt}},${titleEscaped},${changedByEscaped})}">
						</a>
						(<a th:href="@{|/instructor/${diffPath}/${e.previousRevisionId}/${e.id}|}"
							th:title="#{showChanges}">[[#{diff}]]</a>)
					</th:block>
				</li>
			</ul>

			<!--/* shows the rest of the changes */-->
			<button type="button" class="btn btn-link" id="moreExercisesButton">[[#{more}]]</button>
		</th:block>

		<p th:if="${exercisesEmpty}" th:text="#{noChanges}" />
	</th:block>
</div>
</html>