<!--/*
  Copyright 2015 Westfälische Hochschule

  This file is part of Poodle.

  Poodle is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  Poodle is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with Poodle.  If not, see <http://www.gnu.org/licenses/>.
*/-->
<!--/* used in the exercise search in a popover to show the feedback for an exercise */-->
<div xmlns:th="http://www.thymeleaf.org" th:fragment="exerciseFeedbackInfo(exercise,show)">
	<h4><strong>[[#{feedback}]]</strong></h4>

	<th:block th:if="${show}">
		<p>[[#{basedOnFeedbackFromNStudents(${exercise.feedbackCount})}]]</p>
		<div><strong>[[#{statsAvgDifficulty}]]:</strong> [[${exercise.avgDifficulty} ? (${exercise.avgDifficultyRounded} + '/10') : #{notAvailable}]]</div>
		<div><strong>[[#{statsAvgFun}]]:</strong> [[${exercise.avgFun} ? (${exercise.avgFunStr} + '/10') : #{notAvailable}]]</div>
		<div><strong>[[#{statsAvgTime}]]:</strong> [[${exercise.avgTime} ? (${exercise.avgTime} + 'min') : #{notAvailable}]]</div>
	</th:block>
	<p th:unless="${show}">[[#{notEnoughFeedback}]]</p>
</div>