<!--/*
  Copyright 2015 Westfälische Hochschule

  This file is part of Poodle.

  Poodle is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  Poodle is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with Poodle.  If not, see <http://www.gnu.org/licenses/>.
*/-->
<header xmlns:th="http://www.thymeleaf.org">
	<h1>
		<img th:src="@{|/img/${@poodleProperties.logo.filename}|}"
			th:width=" ${@poodleProperties.logo.width > 0}	? ${@poodleProperties.logo.width}"
			th:height="${@poodleProperties.logo.height > 0} ? ${@poodleProperties.logo.height}"
			th:alt="#{startPage}"
			class="inline hidden-xs"/>
		Poodle
	</h1>
</header>