<!--/*
  Copyright 2015 Westfälische Hochschule

  This file is part of Poodle.

  Poodle is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  Poodle is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with Poodle.  If not, see <http://www.gnu.org/licenses/>.
*/-->
<!--/*
	Shows a list of exercise revisions and provides a button to show the difference between two revisions.
	Used in instructor/exercise.html and instructor/mcQuestion.html.
	*/-->
<form method="get"
	xmlns:th="http://www.thymeleaf.org"
	th:fragment="revisionList (exercise,revisions)">
	<table class="table-revisions">
		<tr th:each="rev,status : ${revisions}">
			<td th:if="${#lists.size(revisions)} > 1">
				<!--/*
					We always use the latest revision for the default selected "newId".
					If we are currently showing the latest revision, we use the second
					revision for the "oldId", otherwise the currently shown revision.
				*/-->
				<input type="radio" name="oldId" th:value="${rev.id}"
					th:checked="
					${exercise.latestRevision and status.count == 2 or
					not exercise.latestRevision and exercise.id == rev.id}" />
				<input type="radio" name="newId" th:value="${rev.id}"
					th:checked="${status.count} == 1" />
			</td>
			<td>
				<a th:href="${rev.id}"
					th:class="${rev.id == exercise.id} ? 'revision-current'"
					th:with="changedByEscaped=${#strings.escapeXml(rev.changedBy)}"
					th:utext="#{revisionDescription(${rev.id},${{rev.createdAt}},${changedByEscaped})}">
				</a>
			</td>
		</tr>
	</table>

	<button
		th:if="${#lists.size(revisions)} > 1"
		type="submit"
		class="btn btn-default btn-sm">
		[[#{showChanges}]]
	</button>
</form>