<!--/*
  Copyright 2015 Westfälische Hochschule

  This file is part of Poodle.

  Poodle is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  Poodle is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with Poodle.  If not, see <http://www.gnu.org/licenses/>.
*/-->
<!--/* Tag filter and the tag selection list. Used in exercise editor etc. */-->

<div id="tagFilter" xmlns:th="http://www.thymeleaf.org" th:fragment="tagFilter (tags)">
	<input type="text" th:placeholder="#{tagFilterPlaceholder}" class="form-control max-width-sm" />
	<div id="tagCheckboxes">
		<div th:each="tag : ${tags}" class="checkbox">
			<input type="checkbox" th:field="*{tags}" th:value="${tag.id}" />
			<label th:for="${#ids.prev('tags')}">[[${tag.name}]]</label>
		</div>
	</div>
</div>