/*
 * Copyright 2015 Westfälische Hochschule
 *
 * This file is part of Poodle.
 *
 * Poodle is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Poodle is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with Poodle.  If not, see <http://www.gnu.org/licenses/>.
 */
body {
	background-image: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(241, 241, 241, 1) 50%, rgba(225, 225, 225, 1) 91%, rgba(246, 246, 246, 1) 100%);
	background-repeat: no-repeat;
	background-attachment: fixed;
	padding-bottom: 100px;
}

/* hide navigation if we are in an iframe */
body.iframe nav {
	display: none;
}

body.iframe {
	padding: 0;
}

/* make Bootstrap headings a little smaller */
h1 { font-size: 30px; line-height: 30px; }
h2 { font-size: 24px; line-height: 30px; }
h3 { font-size: 18px; line-height: 30px; }
h4 { font-size: 16px; line-height: 20px; }
h5 { font-size: 14px; line-height: 20px; }
h6 { font-size: 12px; line-height: 20px; }

legend {
	border-bottom: none;
	margin-bottom: 10px;
}

/* increase max-width of Bootstrap Popovers */
.popover {
	max-width: 600px;
	z-index: 1040; /* show behind dialog background */
}

.text-small {
	font-size: 60%;
}

.checkbox > input[type=checkbox] {
	margin-left: 0;
}

.checkbox-inline {
	padding-left: 0;
}

/*colors (for icons etc.) */
.green { color: green; }
.red { color: red; }
.black { color: black; }
.orange { color: orange; }
.grey { color: grey; }

/* Used to preserve newlines when outputting user textarea inputs (e.g. feedback text).
   This is usually solved by replacing \n with <br/> while rendering the page, but using
   CSS for this is a lot more simple. */
.pre-wrap {
	white-space: pre-wrap;
}

.block { display: block; }
.inline-block {	display: inline-block; }
.inline { display: inline; }
.relative { position: relative; }

.icon-big {
	font-size: 1.4em;
}
.icon-sm {
	font-size: 0.6em;
}

/* own hidden class since Bootstrap's "hidden" doesn't play nice with jQuery's toggle() */
.my-hidden {
	display: none;
}

/* Ajaxs tuff */
#ajaxWrapper {
	position: fixed;
	z-index: 9999;
	bottom: 0;
	left: 0;
}

#ajaxLoadingIndicator {
	display: none;
	margin-left: 30px;
	margin-bottom: 10px;
}

#ajaxMessages li {
	margin: 20px;
	padding: 5px;
	cursor: pointer;
}

ul.optionButtons {
	list-style: none;
	margin: 0;
	padding: 0;
	white-space: nowrap;
}

ul.optionButtons li {
	display: inline-block;
	width: 20px;
	margin-right: 5px;
}

ul.optionButtons li.width-auto {
	width: auto;
}

div.action-buttons {
	position: absolute;
	top: 20px;
	right: 20px;
}

/* code formatting (in exercise texts) */
#content code {
	color: black;
	background-color: transparent;
}

ul.commaSeparatedList {
	list-style: none;
	display: inline;
	padding-left: 0;
}

ul.commaSeparatedList li {
	display: inline;
}

ul.commaSeparatedList li:after {
	content: ", ";
}

ul.commaSeparatedList li:last-child:after {
	content: "";
}

/* Stuff */
.max-width-md { max-width: 500px; }
.max-width-sm { max-width: 250px; }
.width-auto { width: auto; }

.vertical-align {
	vertical-align: middle;
}

.padding-sm { padding: 10px; }
.padding {	  padding: 20px; }
.padding-lg { padding: 40px; }

.margin-vertical-sm { margin: 10px 0; }
.margin-vertical {	  margin: 20px 0; }
.margin-vertical-lg { margin: 40px 0; }

.margin-sm { margin: 10px; }
.margin {	 margin: 20px; }
.margin-lg { margin: 40px; }

.margin-top-sm { margin-top: 10px; }
.margin-top {	 margin-top: 20px; }
.margin-top-lg { margin-top: 40px; }

.margin-bottom-sm { margin-bottom: 10px; }
.margin-bottom {	margin-bottom: 20px; }
.margin-bottom-lg { margin-bottom: 40px; }

.margin-left-sm { margin-left: 10px; }
.margin-left {	  margin-left: 20px; }
.margin-left-lg { margin-left: 40px; }

.margin-right-sm { margin-right: 10px; }
.margin-right {	   margin-right: 20px; }
.margin-right-lg { margin-right: 40px; }

.cursor-default { cursor: default; }
.cursor-pointer { cursor: pointer; }

.alert {
	max-width: 500px;
}

#content {
	position: relative;
}

.fixed-bottom-right {
	position: fixed;
	bottom: 20px;
	right: 20px;
}

.isSwitchedAlert {
	padding: 6px;
	margin: 0;
}

span.new {
	font-weight: bolder;
	cursor: default;
	font-family: verdana;
	color: green;
}

/* Avoid padding on the first line in multi-line <code> elements
   generated by CKEditor. */
code {
	padding: 0;
}

#content ul.list-text {
	padding-left: 15px;
}

#content ul.list-text > li {
	margin-bottom: 10px;
}

ol > li {
	padding: 5px;
}

dl > dd {
	margin-bottom: 10px;
}

.table-hover>tbody>tr:hover {
	background-color: orange;
}

/* make the links in the navigation a little brighter */
.navbar-inverse .navbar-nav > li > a, .navbar-inverse .btn-link, .navbar-inverse .navbar-brand {
	color: #dddddd;
}


/* give each item a max-width and add "..." if its too wide (in case a course name is very long) */
#variableNav li>a>span.courseName {
	max-width: 200px;
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

 /* for some reason the rule above screws up the caret position */
#variableNav li>a>span.caret {
	margin-bottom: 10px;
}

/*
 * JQuery UI theme customizations.
 */

.ui-widget {
	font-size: medium;
}

.ui-widget input, .ui-widget select {
	font-size: small;
}

div.ui-tooltip {
	max-width: 600px;
}

.ui-tabs.ui-widget-content {
	background: none;
	border-radius: 0;
}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
	padding: 3px 10px;
}

.ui-tabs-active.ui-state-active {
	background: rgba(255, 138, 30, 0.8);
}

/* CKEditor "exercise link" plugin */

.cke_button__exerciselink_label {
   display: inline !important;
}

#linkExerciseDialog .modal-dialog {
	width: 1000px !important;
}

#linkExerciseDialog .modal-body {
	padding: 0;
}

.exerciseLinkIframe {
	border: none;
	width: 100%;
	height: 700px !important;
}

.exerciseLinkIframe.ui-dialog-content {
	padding: 0 !important;
}

input.datetimepicker {
	width: 150px;
}

.commentOnFeedbackForm {
	width: 550px;
}

/* feedback table */
tr[data-ignore=true] {
	opacity: 0.5;
}

tr[data-ignore=true] .ignoreFeedbackButton {
	display: none;
}
tr[data-ignore=false] .dontIgnoreFeedbackButton {
	display: none;
}

@media print {

	div.action-buttons {
		display: none;
	}

	body {
		padding: 0;
	}

	a[href]:after {
		content: ""; /* don't print URL links */
	}
}

@media (max-width: 700px) {
	/* avoid the action buttons overlaying the content on smaller devices */
	#content .action-buttons {
		position: static;
		margin-bottom: 20px;
	}
}