<!--/*
  Copyright 2015 Westfälische Hochschule

  This file is part of Poodle.

  Poodle is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  Poodle is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with Poodle.  If not, see <http://www.gnu.org/licenses/>.
*/-->
<!--/* error page which the user should never ever see. */-->

<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">

<head>
	<title>[[#{title.error}]]</title>
</head>

<div layout:fragment="content">
	<h1>[[#{anErrorOccured(${status},${message})}]]</h1>
	<p>
		<a class="btn btn-success" th:href="${@poodleProperties.reportBugLink}">[[#{reportError}]]</a>
	</p>
	<p>
		<a href="javascript:history.back()">[[#{back}]]</a>
	</p>
</div>
</html>